<!doctype html>
<html lang="en" ng-app="auctionSaver">

<head>
    <title>Auction Saver</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/app.css">
</head>

<body ng-controller="AppCtrl">
    <login ng-if="!authorized"></login>
    <page ng-if="authorized"></page>
    
    <script src="/js/jquery.min.js"></script>
    <script src="/js/sha256.min.js"></script>
    <script src="/js/angular.min.js"></script>

    <script src="/js/app.js"></script>

</body>

</html>
