<div class="row" ng-controller="SaverCtrl">
    <div class="col-md-12">
        <form ng-submit="save()">
            <div class="form-group">
                <textarea class="form-control" rows="8" ng-model="auctions"></textarea>
            </div>
            <button type="submit" class="btn btn-default pull-right" ng-disabled="saving">Zapisz</button>
        </form>
        <div class="btn-group">
            <button class="btn btn-default" ng-click="insertUnfinished()">Wstaw niezakończone</button>
        </div>
        <table class="table" ng-if="log.length > 0">
            <thead>
                <tr>
                    <th class="log-auction">Aukcja</th>
                    <th class="log-status">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in log" ng-class="{ danger: row.failure }">
                    <td>{{ row.auction }}</td>
                    <td>{{ row | status }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
