<div class="container" ng-controller="LoginCtrl">

    <form class="form-signin" ng-submit="login()">
        <h2 class="form-signin-heading">Zaloguj się</h2>
        
        <fieldset ng-disabled="authorizing">
            <label for="inputLogin" class="sr-only">Login</label>
            <input id="inputLogin" class="form-control" placeholder="Login" required autofocus ng-model="username">
            
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required ng-model="password">
        </fieldset>
        
        <button class="btn btn-lg btn-primary btn-block" type="submit" ng-disabled="authorizing">Logowane</button>
    </form>

</div>